@model IEnumerable<Sandbox_ASP.NET.Models.LevelModel>

@{
    ViewData["Title"] = ViewBag.Title;
}

@{
    if (@User.Identity.Name == null)
    {
        <h1>Log in to continue</h1>
        return;
    }
    <h1>@ViewBag.Title</h1>

    <p>
        <a asp-action="Create">Load saved to server</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <script>function LoadFromDatabase(json)
                    {
                        localStorage.setItem("Level", json)
                    }</script>
                    |<a asp-controller="Home" asp-action="Index" onclick="LoadFromDatabase('@item.Map')">Load</a> 
                    @if (item.Author == @User.Identity.Name)
                    {
                        <span>
                            |<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            |<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
